.bg-gray-900 min-h-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .thumbnail-wrapper {
    text-align: center;
  }
  
  .thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .play-button {
    padding: 10px 20px;
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .play-button:hover {
    background-color: #4f46e5;
  }
  
  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .video-player {
    max-width: 90%;
    border-radius: 10px;
  }
  